* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section-title {
  border-bottom: solid 1px #383e45;
}


.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  font-size: small;
  padding: 40px 0;
  text-align: center;
}

.section-title01 {
  font-size:  30px;
  margin-top: 25px;
}